{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'EnricoBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About Enricoblog</h1>
    </header>
    <article>
        <p>Questo è il contenuto dell' articolo del blog
        questo è il contenuto dell'articolo del blog
        questo è  il contenuto dell' articolo del blog</p>
    </article>
{% endblock %}
