@CHARSET "ISO-8859-1";
.enrico-notice { text-align: center; padding: 10px; background: #DFF2BF; border: 1px solid; color: #4F8A10; margin-bottom: 10px; }
form.enrico { font-size: 16px; }
form.enrico div { clear: left; margin-bottom: 10px; }
form.enrico label { float: left; margin-right: 10px; text-align: right; width: 100px; font-weight: bold; vertical-align: top; padding-top: 10px; }
form.enrico input[type="text"],
form.enrico input[type="email"]
    { width: 500px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.enrico textarea { width: 500px; height: 150px; line-height: 26px; font-size: 20px; }
form.enrico input[type="submit"] { margin-left: 110px; width: 508px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.enrico ul li { color: #ff0000; margin-bottom: 5px; }
